#### 영화 정보

In [1]:
import pandas as pd

m_cols = ['movie_id', 'title', 'genre']
movies = pd.read_csv('../recommend/ml-10M100K/movies.dat', names=m_cols, sep='::', engine='python')

movies['genre'] = movies['genre'].apply(lambda x: x.split('|'))
movies.head()

,movie_id,title,genre
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),[Comedy]

#### 태그 정보

In [2]:
import pandas as pd

t_cols = ['user_id', 'movie_id', 'tag', 'timestamp']
user_tagged_movies = pd.read_csv('../recommend/ml-10M100K/tags.dat', names=t_cols, sep='::', engine='python')

user_tagged_movies['tag'] = user_tagged_movies['tag'].str.lower()

user_tagged_movies.head()

   user_id  movie_id              tag   timestamp
0       15      4973       excellent!  1215184630
1       20      1747         politics  1188263867
2       20      1747           satire  1188263867
3       20      2424  chick flick 212  1188263835
4       20      2424            hanks  1188263835

In [4]:
import pandas as pd

t_cols = ['user_id', 'movie_id', 'tag', 'timestamp']
user_tagged_movies = pd.read_csv('../recommend/ml-10M100K/tags.dat', names=t_cols, sep='::', engine='python')

print(f'태그 종류={len(user_tagged_movies.tag.unique())}')
print(f'태그 레코드 수={len(user_tagged_movies)}')
print(f'태그가 붙어 있는 영화 수={len(user_tagged_movies.movie_id.unique())}')

태그 종류=16529
태그 레코드 수=95580
태그가 붙어 있는 영화 수=7601

In [16]:
import pandas as pd

t_cols = ['user_id', 'movie_id', 'tag', 'timestamp']
user_tagged_movies = pd.read_csv('../recommend/ml-10M100K/tags.dat', names=t_cols, sep='::', engine='python')

movie_tags = user_tagged_movies.groupby('movie_id').agg({'tag':list})
movies = movies.merge(movie_tags, on='movie_id', how='left')
movies.head()

,movie_id,title,genre,tag
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]","[Pixar, Pixar, Pixar, animation, Pixar, animat..."
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]","[For children, game, animals, Joe Johnston, Ro..."
2,3,Grumpier Old Men (1995),"[Comedy, Romance]","[Funniest Movies, comedinha de velhinhos engra..."
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",[girl movie]
4,5,Father of the Bride Part II (1995),[Comedy],"[steve martin, pregnancy, remake, steve martin..."

#### 평가값 데이터

In [4]:
import pandas as pd

r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('../recommend/ml-10M100K/ratings.dat', names=r_cols, sep='::', engine='python')
ratings.head()

   user_id  movie_id  rating  timestamp
0        1       122     5.0  838985046
1        1       185     5.0  838983525
2        1       231     5.0  838983392
3        1       292     5.0  838983421
4        1       316     5.0  838983392

In [6]:
import pandas as pd

r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('../recommend/ml-10M100K/ratings.dat', names=r_cols, sep='::', engine='python')
valid_user_ids = sorted(ratings.user_id.unique())[:1000]
ratings = ratings[ratings['user_id'].isin(valid_user_ids)]

m_cols = ['movie_id', 'title', 'genre']
movies = pd.read_csv('../recommend/ml-10M100K/movies.dat', names=m_cols, sep='::', engine='python')

movies['genre'] = movies['genre'].apply(lambda x: x.split('|'))

movielens = ratings.merge(movies, on='movie_id')
movielens.head()

,user_id,movie_id,rating,timestamp,title,genre
0,1,122,5.0,838985046,Boomerang (1992),"[Comedy, Romance]"
1,1,185,5.0,838983525,"Net, The (1995)","[Action, Crime, Thriller]"
2,1,231,5.0,838983392,Dumb & Dumber (1994),[Comedy]
3,1,292,5.0,838983421,Outbreak (1995),"[Action, Drama, Sci-Fi, Thriller]"
4,1,316,5.0,838983392,Stargate (1994),"[Action, Adventure, Sci-Fi]"

#### 사용자

In [7]:
import pandas as pd
import numpy as np

r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('../recommend/ml-10M100K/ratings.dat', names=r_cols, sep='::', engine='python')
valid_user_ids = sorted(ratings.user_id.unique())[:1000]
ratings = ratings[ratings['user_id'].isin(valid_user_ids)]

m_cols = ['movie_id', 'title', 'genre']
movies = pd.read_csv('../recommend/ml-10M100K/movies.dat', names=m_cols, sep='::', engine='python')

movies['genre'] = movies['genre'].apply(lambda x: x.split('|'))

movielens = ratings.merge(movies, on='movie_id')

movielens.groupby('user_id').agg({'movie_id': len}).agg({'movie_id':[min, max, np.mean, len]})

/var/folders/t9/33ffj14107j841h1k11yd5n00000gn/T/ipykernel_24582/2755499644.py:16: FutureWarning: The provided callable <built-in function min> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  movielens.groupby('user_id').agg({'movie_id': len}).agg({'movie_id':[min, max, np.mean, len]})
/var/folders/t9/33ffj14107j841h1k11yd5n00000gn/T/ipykernel_24582/2755499644.py:16: FutureWarning: The provided callable <built-in function max> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  movielens.groupby('user_id').agg({'movie_id': len}).agg({'movie_id':[min, max, np.mean, len]})
/var/folders/t9/33ffj14107j841h1k11yd5n00000gn/T/ipykernel_24582/2755499644.py:16: FutureWarning: The provided callable <function mean at 0x105a05e50> is currently using Series.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  movielens.groupby('user_id').agg({'movie_id': len}).agg({'movie_id':[min, max, np.mean, len]})

,user_id,movie_id,rating,timestamp,title,genre
0,1,122,5.0,838985046,Boomerang (1992),"[Comedy, Romance]"
1,1,185,5.0,838983525,"Net, The (1995)","[Action, Crime, Thriller]"
2,1,231,5.0,838983392,Dumb & Dumber (1994),[Comedy]
3,1,292,5.0,838983421,Outbreak (1995),"[Action, Drama, Sci-Fi, Thriller]"
4,1,316,5.0,838983392,Stargate (1994),"[Action, Adventure, Sci-Fi]"

In [9]:
import pandas as pd

r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('../recommend/ml-10M100K/ratings.dat', names=r_cols, sep='::', engine='python')

m_cols = ['movie_id', 'title', 'genre']
movies = pd.read_csv('../recommend/ml-10M100K/movies.dat', names=m_cols, sep='::', engine='python')

movies['genre'] = movies['genre'].apply(lambda x: x.split('|'))

movielens = ratings.merge(movies, on='movie_id')
print(f'평가값 수 ={len(movielens)}')
movielens.groupby('rating').agg({'movie_id':len})

평가값 수 =10000054

        movie_id
rating
0.5        94988
1.0       384180
1.5       118278
2.0       790306
2.5       370178
3.0      2356676
3.5       879764
4.0      2875850
4.5       585022
5.0      1544812

In [10]:
import pandas as pd

r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('../recommend/ml-10M100K/ratings.dat', names=r_cols, sep='::', engine='python')

m_cols = ['movie_id', 'title', 'genre']
movies = pd.read_csv('../recommend/ml-10M100K/movies.dat', names=m_cols, sep='::', engine='python')

movies['genre'] = movies['genre'].apply(lambda x: x.split('|'))

movielens = ratings.merge(movies, on='movie_id')

movielens['timestamp_rank'] = movielens.groupby('user_id')['timestamp'].rank(ascending=False, method='first')
movielens_train = movielens[movielens['timestamp_rank'] > 5]
movielens_test = movielens[movielens['timestamp_rank'] <= 5]

In [ ]:
import pandas as pd
from typing import List
from sklearn.metrics import mean_squared_error



r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('../recommend/ml-10M100K/ratings.dat', names=r_cols, sep='::', engine='python')

m_cols = ['movie_id', 'title', 'genre']
movies = pd.read_csv('../recommend/ml-10M100K/movies.dat', names=m_cols, sep='::', engine='python')

movies['genre'] = movies['genre'].apply(lambda x: x.split('|'))

movielens = ratings.merge(movies, on='movie_id')

movielens['timestamp_rank'] = movielens.groupby('user_id')['timestamp'].rank(ascending=False, method='first')
movielens_train = movielens[movielens['timestamp_rank'] > 5]
movielens_test = movielens[movielens['timestamp_rank'] <= 5]

In [12]:
# analyze_movielens.py

# 1. 라이브러리 불러오기
import pandas as pd
import numpy as np
import os
from typing import List
from sklearn.metrics import mean_squared_error

# RMSE 계산 함수 정의 (self 제거)
def calc_rmse(true_rating: List[float], pred_rating: List[float]) -> float:
    """
    실제 평점과 예측 평점 리스트를 받아 RMSE를 계산하는 함수
    """
    return np.sqrt(mean_squared_error(true_rating, pred_rating))


# --- 메인 스크립트 실행 ---
print("스크립트 실행 시작...")

# 2. 데이터 경로 설정
base_path = '../recommend/ml-10M100K/'
ratings_path = os.path.join(base_path, 'ratings.dat')
movies_path = os.path.join(base_path, 'movies.dat')

# 3. 데이터 불러오기
print(f"'{ratings_path}' 에서 ratings 데이터를 불러옵니다...")
r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(ratings_path, names=r_cols, sep='::', engine='python')

print(f"'{movies_path}' 에서 movies 데이터를 불러옵니다...")
m_cols = ['movie_id', 'title', 'genre']
movies = pd.read_csv(movies_path, names=m_cols, sep='::', engine='python', encoding='latin-1')

# 4. 데이터 전처리
print("데이터 전처리를 시작합니다...")
movies['genre'] = movies['genre'].apply(lambda x: x.split('|'))
movielens = ratings.merge(movies, on='movie_id')

# 5. 훈련(Train) / 시험(Test) 데이터 분리
print("시간 순서에 따라 훈련/시험 데이터로 분리합니다...")
movielens['timestamp_rank'] = movielens.groupby('user_id')['timestamp'].rank(ascending=False, method='first')
movielens_train = movielens[movielens['timestamp_rank'] > 5]
movielens_test = movielens[movielens['timestamp_rank'] <= 5]

# 6. 예측값 생성 (Baseline 모델)
print("가장 기본적인 모델을 사용해 예측값을 생성합니다...")
# 훈련 데이터의 전체 평점 평균을 계산
global_mean = movielens_train['rating'].mean()
print(f"훈련 데이터의 전체 평균 평점: {global_mean:.4f}")

# 시험 데이터의 모든 예측값을 전체 평균 평점으로 채움
pred_rating = [global_mean] * len(movielens_test)

# 7. RMSE 계산 및 결과 출력
print("RMSE를 계산합니다...")
# 시험 데이터의 실제 평점 리스트
true_rating = movielens_test['rating'].tolist()

# calc_rmse 함수 호출
rmse = calc_rmse(true_rating, pred_rating)

# --- 최종 결과 출력 ---
print("\n--- 작업 완료 ---")
print(f"전체 평점 데이터 수: {len(movielens)}")
print(f"훈련 데이터 수 (Train set): {len(movielens_train)}")
print(f"시험 데이터 수 (Test set): {len(movielens_test)}")
print(f"\nBaseline 모델의 RMSE 결과: {rmse:.4f}")
print("-----------------")

스크립트 실행 시작...
'../recommend/ml-10M100K/ratings.dat' 에서 ratings 데이터를 불러옵니다...
'../recommend/ml-10M100K/movies.dat' 에서 movies 데이터를 불러옵니다...
데이터 전처리를 시작합니다...
시간 순서에 따라 훈련/시험 데이터로 분리합니다...
가장 기본적인 모델을 사용해 예측값을 생성합니다...
훈련 데이터의 전체 평균 평점: 3.5088
RMSE를 계산합니다...

--- 작업 완료 ---
전체 평점 데이터 수: 10000054
훈련 데이터 수 (Train set): 9650664
시험 데이터 수 (Test set): 349390

Baseline 모델의 RMSE 결과: 1.0794
-----------------

In [11]:
# analyze_movielens.py

# 1. 라이브러리 불러오기
import pandas as pd
import os

print("스크립트 실행 시작...")

# 2. 데이터 경로 설정
# 이 스크립트 파일이 있는 폴더(scripts)를 기준으로 상대 경로를 설정합니다.
# ../는 상위 폴더를 의미합니다.
base_path = '../recommend/ml-10M100K/'
ratings_path = os.path.join(base_path, 'ratings.dat')
movies_path = os.path.join(base_path, 'movies.dat')

# 3. 데이터 불러오기
print(f"'{ratings_path}' 에서 ratings 데이터를 불러옵니다...")
r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(ratings_path, names=r_cols, sep='::', engine='python')

print(f"'{movies_path}' 에서 movies 데이터를 불러옵니다...")
m_cols = ['movie_id', 'title', 'genre']
movies = pd.read_csv(movies_path, names=m_cols, sep='::', engine='python', encoding='latin-1') # 인코딩 추가

# 4. 데이터 전처리
print("데이터 전처리를 시작합니다...")
# 장르 데이터를 문자열 리스트로 변환
movies['genre'] = movies['genre'].apply(lambda x: x.split('|'))

# ratings 데이터와 movies 데이터 병합
movielens = ratings.merge(movies, on='movie_id')

# 5. 훈련(Train) / 시험(Test) 데이터 분리
print("시간 순서에 따라 훈련/시험 데이터로 분리합니다...")
# 각 사용자별로 timestamp를 기준으로 최신 순으로 순위(rank) 매기기
movielens['timestamp_rank'] = movielens.groupby('user_id')['timestamp'].rank(ascending=False, method='first')

# 가장 최근 5개를 제외한 나머지를 훈련 데이터로 사용
movielens_train = movielens[movielens['timestamp_rank'] > 5]

# 가장 최근 5개를 시험 데이터로 사용
movielens_test = movielens[movielens['timestamp_rank'] <= 5]

# 6. 결과 확인
print("\n--- 작업 완료 ---")
print(f"전체 평점 데이터 수: {len(movielens)}")
print(f"훈련 데이터 수 (Train set): {len(movielens_train)}")
print(f"시험 데이터 수 (Test set): {len(movielens_test)}")
print(f"훈련 데이터 샘플:\n{movielens_train.head()}")
print(f"\n시험 데이터 샘플:\n{movielens_test.head()}")
print("-----------------")

스크립트 실행 시작...
'../recommend/ml-10M100K/ratings.dat' 에서 ratings 데이터를 불러옵니다...
'../recommend/ml-10M100K/movies.dat' 에서 movies 데이터를 불러옵니다...
데이터 전처리를 시작합니다...
시간 순서에 따라 훈련/시험 데이터로 분리합니다...

--- 작업 완료 ---
전체 평점 데이터 수: 10000054
훈련 데이터 수 (Train set): 9650664
시험 데이터 수 (Test set): 349390
훈련 데이터 샘플:
   user_id  movie_id  rating  timestamp                          title  \
1        1       185     5.0  838983525                Net, The (1995)
2        1       231     5.0  838983392           Dumb & Dumber (1994)
3        1       292     5.0  838983421                Outbreak (1995)
4        1       316     5.0  838983392                Stargate (1994)
5        1       329     5.0  838983392  Star Trek: Generations (1994)

                                genre  timestamp_rank
1           [Action, Crime, Thriller]            17.0
2                            [Comedy]            19.0
3   [Action, Drama, Sci-Fi, Thriller]            18.0
4         [Action, Adventure, Sci-Fi]            20.0
5  [Action, Adventure, Drama, Sci-Fi]            21.0

시험 데이터 샘플:
    user_id  movie_id  rating  timestamp                             title  \
0         1       122     5.0  838985046                  Boomerang (1992)
8         1       362     5.0  838984885           Jungle Book, The (1994)
13        1       466     5.0  838984679       Hot Shots! Part Deux (1993)
15        1       520     5.0  838984679  Robin Hood: Men in Tights (1993)
21        1       616     5.0  838984941            Aristocats, The (1970)

                             genre  timestamp_rank
0                [Comedy, Romance]             1.0
8   [Adventure, Children, Romance]             3.0
13           [Action, Comedy, War]             4.0
15                        [Comedy]             5.0
21           [Animation, Children]             2.0
-----------------

In [2]:
import pandas as pd
import numpy as np
import os
from sklearn.metrics import mean_squared_error
from math import sqrt
from abc import ABC, abstractmethod
from collections import defaultdict
from sklearn.metrics.pairwise import cosine_similarity
from typing import Dict, List

import dataclasses
import warnings
warnings.filterwarnings('ignore')

print("A. 데이터 준비 및 전처리\n" + "-"*30)

@dataclasses.dataclass(frozen=True)
# 추천 시스템의 학습과 평가에 사용하는 데이터셋
class Dataset:
    # 학습용 평갓값 데이터셋
    train: pd.DataFrame
    # 테스트용 평갓값 데이터셋
    test: pd.DataFrame
    # 순위 지표의 테스트 데이터셋. 키는 사용자 ID, 값은 사용자가 높이 평가한 아이템의 ID 리스트
    test_user2items: Dict[int, List[int]]
    # 아이템 콘텐츠 정보
    item_content: pd.DataFrame


@dataclasses.dataclass(frozen=True)
# 추천 시스템 예측 결과
class RecommendResult:
    # 테스트 데이터셋의 예측 평갓값. RMSE 평가
    rating: pd.DataFrame
    # 키는 사용자 ID, 값은 추천 아이템 ID 리스트. 순위 지표 평가.
    user2items: Dict[int, List[int]]


@dataclasses.dataclass(frozen=True)
# 추천 시스템 평가
class Metrics:
    rmse: float
    precision_at_k: float
    recall_at_k: float

    # 평가 결과는 소수 셋째 자리까지만 출력한다
    def __repr__(self):
        return f"rmse={self.rmse:.3f}, Precision@K={self.precision_at_k:.3f}, Recall@K={self.recall_at_k:.3f}"

# 베이스라인 및 협업 필터링 모델을 위한 추상 클래스
# 모든 추천 모델은 이 클래스를 상속받아 recommend 메서드를 구현해야 합니다.
class BaseRecommender(ABC):
    @abstractmethod
    def recommend(self, dataset: Dataset, **kwargs) -> RecommendResult:
        pass

# DataLoader 클래스
# 과제에서 요구하는 데이터셋을 로드하고 분할하는 역할
class DataLoader:
    def __init__(self, num_users: int = 671, num_test_items: int = 5, data_path: str = "../recommend/ml-10M100K/"):
        self.num_users = num_users
        self.num_test_items = num_test_items
        self.data_path = data_path

    def load(self) -> Dataset:
        ratings, movie_content = self._load()
        movielens_train, movielens_test = self._split_data(ratings)
        # ranking 용 평가 데이터는 각 사용자의 평갓값이 4 이상인 영화만을 정답으로 한다
        # 키는 사용자 ID, 값은 사용자가 높이 평가한 아이템의 ID 리스트
        movielens_test_user2items = (
            movielens_test[movielens_test.rating >= 4].groupby("userId").agg({"movieId": list})["movieId"].to_dict()
        )
        return Dataset(movielens_train, movielens_test, movielens_test_user2items, movie_content)

    def _split_data(self, movielens: pd.DataFrame) -> (pd.DataFrame, pd.DataFrame):
        # 학습용과 테스트용으로 데이터를 분할한다
        # 각 사용자의 직전 5개 영화를 평가용으로 사용하고, 그 이외는 학습용으로 한다
        # 먼저, 각 사용자가 평가한 영화의 순서를 계산한다
        # 최근 부여한 영화부터 순서를 부여한다(0부터 시작)
        movielens["rating_order"] = movielens.groupby("userId")["timestamp"].rank(ascending=False, method="first")
        movielens_train = movielens[movielens["rating_order"] > self.num_test_items]
        movielens_test = movielens[movielens["rating_order"] <= self.num_test_items]
        return movielens_train, movielens_test

    def _load(self) -> (pd.DataFrame, pd.DataFrame):
        # MovieLens latest small 데이터셋 로드
        ratings = pd.read_csv(os.path.join(self.data_path, "ratings.csv"))
        movies = pd.read_csv(os.path.join(self.data_path, "movies.csv"))

        # ratings =  pd.read_csv('../recommend/ml-10M100K/ratings.dat',sep='::', engine='python')
        # movies = pd.read_csv('../recommend/ml-10M100K/movies.dat',  sep='::', engine='python')

        # user 수를 num_users로 줄인다 (과제 스펙에 맞게 전체 유저 사용)
        valid_user_ids = sorted(ratings.userId.unique())[:self.num_users]
        ratings = ratings[ratings.userId.isin(valid_user_ids)]

        return ratings, movies


# 1. 데이터 로드 및 기본 통계 확인
print("1. 데이터 로드 및 기본 통계 확인")
data_loader = DataLoader()
movielens_dataset = data_loader.load()

A. 데이터 준비 및 전처리
------------------------------
1. 데이터 로드 및 기본 통계 확인

FileNotFoundError: [Errno 2] No such file or directory: '../recommend/ml-10M100K/ratings.csv'